@media print {
  @page {
    size: A4;
    padding: 0;
    margin: 0;
  }

  html, body {
    height: 100%;
  }

  html {
    margin: .4in .5in;
    font-size: 14px;
  }

  section {
    break-inside: avoid;
  }
}
