@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.-translate-x-1\/2 {
  transform: translateX(-50%);
}

.left-1\/2 {
  left: 50%;
}

.border-current {
  border-color: currentColor;
}

.hyphen {
  hyphens: auto;
}

::selection {
  @apply text-white;
  @apply bg-pink-600;
}

/* .interactive-link {
  @apply underline;
} */

.interactive-link:focus, .interactive-link:hover {
  @apply text-pink-800;
}

.markdown-relaxed-sm ul {
  @apply list-disc;
  @apply ml-6;
  @apply mt-2;
}

.markdown-relaxed-sm li, .markdown-relaxed-sm p {
  @apply vr-relaxed-sm;
}

.markdown-relaxed-sm p {
  @apply pb-2;
  @apply hyphen;
  @apply text-justify;
}

.markdown-relaxed-sm a {
  /* @apply interactive-link; */
  @apply text-pink-600;
  @apply underline;
}

@media screen {
  .bounce {
    animation: bounce 3s ease-in 4s infinite;
  }
  .pulse {
    box-shadow: 0 0 0 rgba(151, 38, 109, 0.25);
    animation: pulse 4s infinite;
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-1.5rem);
    }
    60% {
      transform: translateY(-.75rem);
    }
  }
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(151, 38, 109, 0.25);
    }
    70% {
      box-shadow: 0 0 0 8px transparent;
    }
    100% {
      box-shadow: 0 0 0 0 transparent;
    }
  }
}