@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.-translate-x-1\/2 {
  transform: translateX(-50%);
}

.left-1\/2 {
  left: 50%;
}

.border-current {
  border-color: currentColor;
}

.markdown-relaxed-sm ul {
  @apply list-disc;
  @apply ml-6;
  @apply mt-2;
}
.markdown-relaxed-sm li,
.markdown-relaxed-sm p {
  @apply vr-relaxed-sm;
}

.markdown-relaxed-sm p {
  padding-bottom: 1rem;
}